<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="skin-blue sidebar-mini">
    <app></app>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
